# Docker
docker-compose.override.yml

# Laravel (backend)
backend/.env
backend/storage/*
!backend/storage/.gitkeep
backend/bootstrap/cache/*
backend/public/storage
backend/public/hot

# Node (admin)  
admin/node_modules/
admin/.env
admin/.env.local
admin/.env.development.local
admin/.env.test.local
admin/.env.production.local
admin/npm-debug.log*
admin/yarn-debug.log*
admin/yarn-error.log*
admin/.pnp*
admin/.eslintcache

# Node (cardapio-cliente)  
cardapio-cliente/node_modules/
cardapio-cliente/.env
cardapio-cliente/.env.local
cardapio-cliente/.env.development.local
cardapio-cliente/.env.test.local
cardapio-cliente/.env.production.local
cardapio-cliente/npm-debug.log*
cardapio-cliente/yarn-debug.log*
cardapio-cliente/yarn-error.log*
cardapio-cliente/.pnp*
cardapio-cliente/.eslintcache

# Node (frontend)  
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnp*
frontend/.eslintcache

# Logs
logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db