# Docker
docker-compose.override.yml

# Laravel (backend)
backend/.env
backend/storage/*
!backend/storage/.gitkeep
backend/bootstrap/cache/*
backend/public/storage
backend/public/hot

# Node (frontend)  
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnp*
frontend/.eslintcache

# Logs
logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db